*
    {
        margin: 0;
        padding: 0;
    }
    body 
    {
        font-family: 'Poppins', sans-serif;
    }
    .wrapper 
    {
        width: 1170px;
        margin: auto;
    }
    header 
    {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1536882240095-0379873feb4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80);
        height: 100vh;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        position: relative;
    }
    .nav-area 
    {
        float: right;
        list-style: none;
        margin-top: 30px;
    }
    .nav-area li 
    {
        display: inline-block;
    }
    .nav-area li a 
    {
        color: #fff;
        text-decoration: none;
        padding: 5px 20px;
        font-family: poppins;
        font-size: 16px;
        text-transform: uppercase;
    }
    .nav-area li a:hover 
    {
        background: #fff;
        color: #333;
    }
    .welcome-text 
    {
        position: absolute;
        width: 600px;
        height: 300px;
        margin: 20% 30%;
        text-align: center;
    }
    .welcome-text h1 
    {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 60px;
        text-shadow: 4px 3px #333;
    }
    .welcome-text span 
    {
        color: #ffe15d;
    }
    .welcome-text a 
    {
        border: 1px solid #fff;
        padding: 10px 25px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 20px;
        display: inline-block;
        color: #fff;
    }
    .welcome-text a:hover 
    {
        background: #fff;
        color: #333;
    }

    @media (max-width:600px) 
    {
        .wrapper 
        {
            width: 100%;
        }
        img 
        {
            width: 100%;
        }
        .nav-area 
        {
            float: none;
            margin-top: 0;
        }
        .nav-area li a 
        {
            padding: 5px;
            font-size: 11px;
        }
        .nav-area 
        {
            text-align: center;
        }
        .welcome-text 
        {
            width: 100%;
            height: auto;
            margin: 30% 0;
        }
        .welcome-text h1 
        {
            font-size: 30px;
        }
    }